*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #393b4f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

.containerAll{
  width: 800px;
  /* border: solid red 2px; */
}

.containerAll div{
  /* border: solid red 2px; */
}

/* SOBRE MÍ */

.sobreMi{
  display: flex;
  margin: 50px 0;
}

.sobreMi div{
  /* border: solid red; */
}

.sobreMiImg{

}

.fotoPerfil{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid #bbbbff 3px;
}

.sobreMiContenido{
  display: flex;
  flex-direction: column;
}

.textoSobreMi{
  display: flex;
  flex-direction: column;
}

.textoSobreMi h3{
  color: #fff;
  font-size: 30px;
  
}

.textoSobreMi p{
  color: #fff;
  font-size: 18px;
}

.iconosSobreMi{
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconosSobreMi a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.icono{
  width: 25px;
  height: 25px;
}

/* EXPERIENCIA */


/* EDUCACIÓN */


/* HABILIDADES */


/* PROYECTOS */