*{
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  margin: 0;
}

body{
  background-image: linear-gradient(to bottom , #1d246e, #080e4c);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

/* NAV */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* border: solid red 2px; */
  width: 100%;
  margin: 50px 0;
  padding: 10px 0;
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: rgba(50, 2, 128, 0.9);
  
}

a{
  text-decoration: none;
}

.contNav{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid red 2px; */
}

.divHr{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid red 2px; */
  width: 100%;
  margin: 20px;
}

nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;  
}
nav li{
  text-decoration: none;
  margin: 0 10px;
}

nav a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  letter-spacing: 1px;
  top: 0;
}
nav a:hover{
  color: #ff9b05;
  transition: 0.5s;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

nav a:hover::after {
  transform: scaleX(1);
}

/* .contNav{
  width: 90%;
  display: flex;
  justify-content: space-between;
} */

.cvbtn {
  margin: 0 10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px; 
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #1d246e;
  border: 2px solid #fff;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.cvbtn:hover {
  background-color: #fff;
  color: #320280;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(29, 36, 110, 0.5);
}

hr{
  width: 95%;
  color: #fff;
}

/* CONTENEDOR DE TODO */

.containerAll{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: solid red 2px; */
  max-width: 900px;
  margin-top: 400px;
}

/* SOBRE MÍ */

.sobremi{
  display: flex;
  justify-content: center;
  /* border: solid red 2px; */
  padding-bottom: 200px;
}

.contenidoSobreMi{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: solid red 2px; */
}

.contenidoSobreMi h3 span{
  color: #ff9b05;
}

.contenidoSobreMi h3{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}

.contenidoSobreMi p{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.divIconos{
  display: flex;
  justify-content: flex-end;
  /* border: solid red 2px;  */
}

.divIconos i{
  font-size: 50px;
  color: #fff;
  margin: 0 20px;
}

.divIconos i:hover{
  cursor: pointer;
  color: #ff9b05;
  transition: 0.5s;
}

.fotoPerfil{
  margin: 30px;
}

.fotoPerfil img{
  width: 300px;
  height: 325px;
  border-radius: 20px;
}


/* EXPERIENCIA */

.experiencia{
  display: flex;
  justify-content: center;
  /* border: solid red 2px; */
}

.contenidoExperiencia{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: solid red 2px; */
}

.contenidoExperiencia h3{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
}

.contenidoExperiencia h5{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.contenidoExperiencia p{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/* EDUCACIÓN */


/* HABILIDADES */


/* PROYECTOS */