@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 15%;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.btn-cv {
  background-color: black;
  color: white;
  font-weight: 600;
}

/* HHEADER */
.header {
  /* border: solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  padding: 10px 0;
}
.header-nombre {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 20px;
}
.header-nombre i {
  font-size: 20px;
}
.header-nombre h1 {
  font-size: 20px;
  margin: 0 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.header-nav {
  /* border: solid red; */
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-nav-contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px;
}
.header-nav-contenido a {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 0 10px;
}

/* Fin HEADER */
.footer {
  background-color: black;
  margin-top: 10px;
  padding: 20px 0;
}

/* MAIN */
.all {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 15px;
  gap: 10px;
}

/* PRESENTACIÓN */
.sobreMi {
  /* border: solid red; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.sobreMi-info {
  position: relative; /* Necesario para que el efecto de glassmorphism funcione correctamente */
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(asset/7863053.jpg);
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  background-position: center; /* Centra la imagen de fondo */
  /* border: solid red; */
  border-radius: 20px;
}
.sobreMi-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Ajusta el color y la opacidad del efecto de glassmorphism */
  backdrop-filter: blur(10px); /* Aplica un filtro de desenfoque */
  border-radius: 10px;
}
.sobreMi-info-content {
  position: relative;
  z-index: 1;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  gap: 10px;
  /* Define estilos para los elementos hijos según sea necesario */
}
.sobreMi-info-content .presentacion {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}
.sobreMi-info-content .presentacion p {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.sobreMi-info-content .presentacion p span {
  color: #cf0091;
  font-size: 50px;
  font-weight: 700;
}
.sobreMi-info-content .presentacion i {
  font-size: 35px;
}
.sobreMi-info-content .desc p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.sobreMi-info-content .contact {
  display: flex;
  align-items: center;
}
.sobreMi-info-content .contact-icon {
  margin: 5px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
}
.sobreMi-img {
  display: grid;
  grid-template-columns: 1fr;
}
.sobreMi-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FIN PRESENTACIÓN */
/* PROYECTOS */
.proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}
.proyectos a {
  color: black;
}
.proyectos-proyecto {
  border-radius: 10px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
}
.proyectos .slides {
  background-color: #b700ff;
  color: white;
}
.proyectos .eventium {
  background-color: #ecd500;
}
.proyectos .infoProyecto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proyectos .infoProyecto-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.proyectos .infoProyecto-txt label {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.proyectos .infoProyecto-txt p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.proyectos .infoProyecto-icono {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
}
.proyectos .infoProyecto-icono i {
  font-size: 25px;
  font-weight: 600;
}
.proyectos .fotosProyectos {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyectos .fotosProyectos img {
  width: 70%;
  border-radius: 10px;
  object-fit: cover;
}

/* FIN PROYECTOS */
/* TECNOLOGÍAS */
.tecnologias {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.tecnologias-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 5px;
  padding: 10px 0;
}
.tecnologias-titulo label {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.tecnologias-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  gap: 20px;
}
.tecnologias-list-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.tecnologias-list-tech i {
  font-size: 100px;
  /* color: white; */
}

.amarillo {
  color: #ecd500;
}

.rojo {
  color: red;
}

.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 20px 0;
}
.experiencia-holzadacTitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #00aff5;
  border-radius: 10px;
}
.experiencia-holzadacTitulo h3 {
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.experiencia-holzadac {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: #00aff5;
  padding: 20px;
  border-radius: 10px;
}
.experiencia-holzadac h3 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.experiencia-holzadac p {
  font-family: "Poppins", sans-serif;
  color: white;
}

/*# sourceMappingURL=style.css.map */
