.btn {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: $fuente;
    font-size: 20px;
    cursor: pointer;
    &-cv {
        background-color: black;
        color: white;
        font-weight: 600;
    }
}